In [19]:
import pandas as pd

# Replace 'file_path.txt' with your file path
data = pd.read_csv('inci_name.txt', delimiter = '\t') # if the file is tab-delimited

In [20]:
data

,PRODUCT,INCI,PRODUCT_ID
0,NaN,Pistacia Vera (Pistachio) Nut Oil,oilpistit64
1,Apple Seed Oil (SAP only),Pyrus Malus Apple Seed Oil,apple seed oil
2,Absolute: Bourbon Vanilla,Vanilla planifolia Bean Extract,absvanillamad
3,"Absolute: Bourbon Vanilla, 20X",Vanilla planifolia Extract,absvanilla25
4,"Absolute: Jasmine Auriculatum, India",Jasmine Auriculatum (Jasmine) Extract,absjasaur
...,...,...,...
2811,Wax: Sumac Fruit,Rhus Succedanea (Sumac) Fruit Wax,waxsumacfrdeccn1003
2812,Wax: Sunflower,Helianthus Annuus (Sunflower) Seed Wax,waxsunflcn761
2813,Witch Hazel 86%,Hamamelis Virginiana (Witch Hazel) Water (and)...,othwithaz86us9
2814,Ylang Ylang Essential Oil (Grade: Complete),Cananga Odorata (Ylang Ylang) Oil,eoyycmg1100
2815,Yogurt Powder,Yogurt Powder,yogurtpwdus53

In [21]:
# Extract the 'INCI' column
column = data['INCI']

# Convert the column to a list
column_list = column.tolist()

# Convert the list to a Series
column_series = pd.Series(column_list)

column_series

0                       Pistacia Vera (Pistachio) Nut Oil
1                              Pyrus Malus Apple Seed Oil
2                         Vanilla planifolia Bean Extract
3                              Vanilla planifolia Extract
4                   Jasmine Auriculatum (Jasmine) Extract
                              ...
2811                    Rhus Succedanea (Sumac) Fruit Wax
2812               Helianthus Annuus (Sunflower) Seed Wax
2813    Hamamelis Virginiana (Witch Hazel) Water (and)...
2814                    Cananga Odorata (Ylang Ylang) Oil
2815                                        Yogurt Powder
Length: 2816, dtype: object

**Note:** Unfortunately i've only noticied that we got lot's of "Fragrance" repeating itself only after exporting our JSON and running the script for the first time, need to see why that's happening!

In [22]:
# Count the occurrences of each value
value_counts = column_series.value_counts()

# Print the count for "Fragrance"
print(value_counts["Fragrance"])

922

In [23]:
filtered_df = data[data['INCI'] == 'Fragrance']

filtered_df

,PRODUCT,INCI,PRODUCT_ID
14,Arabian Fragrance Oil: Abal,Fragrance,afoabal
15,Arabian Fragrance Oil: Isra,Fragrance,afoisra
16,Arabian Fragrance Oil: Jannah,Fragrance,afojannah
17,Arabian Fragrance Oil: Motia,Fragrance,afomotia
18,Arabian Fragrance Oil: Musk Ghazala,Fragrance,afomuskghazala
...,...,...,...
2777,Test Product: Number 24,Fragrance,testproduct24
2779,Test Product: Number 8,Fragrance,testproduct8
2791,Water-Soluble Fragrance: Cotton Blossom BBW Type,Fragrance,fwcotbloss
2792,Water-Soluble Fragrance: Green Tea,Fragrance,fwgreenteaus14
2793,Water-Soluble Fragrance: Orange Blossom,Fragrance,fworangeus14

That's why. So what i'll need to do later on is to save all the values of product afther the ":" in another dataframe, then drop all the rows with value "Fragrance" in INCI, then append with the initial result to get a better value of names and then run again the program with this one.

In [24]:
# Split the 'Product' column at ':', expand=True splits the string into different columns
split_df = filtered_df['PRODUCT'].str.split(':', expand=True)

split_df

                            0                         1
14      Arabian Fragrance Oil                      Abal
15      Arabian Fragrance Oil                      Isra
16      Arabian Fragrance Oil                    Jannah
17      Arabian Fragrance Oil                     Motia
18      Arabian Fragrance Oil              Musk Ghazala
...                       ...                       ...
2777             Test Product                 Number 24
2779             Test Product                  Number 8
2791  Water-Soluble Fragrance   Cotton Blossom BBW Type
2792  Water-Soluble Fragrance                 Green Tea
2793  Water-Soluble Fragrance            Orange Blossom

[922 rows x 2 columns]

In [25]:
# Select the second column (index 1) which is the part after ':'
filtered_df['Product'] = split_df[1].str.strip()  # str.strip() is used to remove leading and trailing whitespace

filtered_df

C:\Users\deimo\AppData\Local\Temp\ipykernel_4548\1775019499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Product'] = split_df[1].str.strip()  # str.strip() is used to remove leading and trailing whitespace

,PRODUCT,INCI,PRODUCT_ID,Product
14,Arabian Fragrance Oil: Abal,Fragrance,afoabal,Abal
15,Arabian Fragrance Oil: Isra,Fragrance,afoisra,Isra
16,Arabian Fragrance Oil: Jannah,Fragrance,afojannah,Jannah
17,Arabian Fragrance Oil: Motia,Fragrance,afomotia,Motia
18,Arabian Fragrance Oil: Musk Ghazala,Fragrance,afomuskghazala,Musk Ghazala
...,...,...,...,...
2777,Test Product: Number 24,Fragrance,testproduct24,Number 24
2779,Test Product: Number 8,Fragrance,testproduct8,Number 8
2791,Water-Soluble Fragrance: Cotton Blossom BBW Type,Fragrance,fwcotbloss,Cotton Blossom BBW Type
2792,Water-Soluble Fragrance: Green Tea,Fragrance,fwgreenteaus14,Green Tea
2793,Water-Soluble Fragrance: Orange Blossom,Fragrance,fworangeus14,Orange Blossom

**Note:** Now that we have only the Product name, let's get those and put into a list like the first part.

In [26]:
# Extract the 'INCI' column
column2 = filtered_df['Product']

# Convert the column to a list
column_list2 = column2.tolist()

# Convert the list to a Series
column_series2 = pd.Series(column_list2)

column_series2

0                         Abal
1                         Isra
2                       Jannah
3                        Motia
4                 Musk Ghazala
                ...
917                  Number 24
918                   Number 8
919    Cotton Blossom BBW Type
920                  Green Tea
921             Orange Blossom
Length: 922, dtype: object

**Note:** Now i need to remove all the Fragance values from the first column_series and then add the column_series2

In [27]:
# Drop all the values "Fragrance" from column_series
column_series = column_series[column_series != 'Fragrance']

column_series

0                       Pistacia Vera (Pistachio) Nut Oil
1                              Pyrus Malus Apple Seed Oil
2                         Vanilla planifolia Bean Extract
3                              Vanilla planifolia Extract
4                   Jasmine Auriculatum (Jasmine) Extract
                              ...
2811                    Rhus Succedanea (Sumac) Fruit Wax
2812               Helianthus Annuus (Sunflower) Seed Wax
2813    Hamamelis Virginiana (Witch Hazel) Water (and)...
2814                    Cananga Odorata (Ylang Ylang) Oil
2815                                        Yogurt Powder
Length: 1894, dtype: object

In [28]:
# Append column_series2 to column_series, not append, it's concact()
# Concatenate column_series and column_series2
column_series = pd.concat([column_series, column_series2], ignore_index=True)

column_series

0           Pistacia Vera (Pistachio) Nut Oil
1                  Pyrus Malus Apple Seed Oil
2             Vanilla planifolia Bean Extract
3                  Vanilla planifolia Extract
4       Jasmine Auriculatum (Jasmine) Extract
                        ...
2811                                Number 24
2812                                 Number 8
2813                  Cotton Blossom BBW Type
2814                                Green Tea
2815                           Orange Blossom
Length: 2816, dtype: object

**Note:** Now it's to export this series and then run the initial.py again

In [29]:
# Export the Series to a JSON file
# Replace 'file_path.json' with your file path
column_series.to_json('INCI_names.json', orient='records')